//========================================================================================================================================================

.password {
	@include adaptiveValue("padding-top", 122, 40, 0, 1500, 767.98);
	@include adaptiveValue("padding-bottom", 150, 40, 0, 1500, 767.98);
	// .password__container
	&__container {

	}
	// .password__content
	&__content {
		padding: toRem(100) toRem(116);
		background-color: #f8f8f8;
		text-align: center;
		max-width: toRem(696);
		margin: 0 auto;
		@media (max-width:$tablet){
			padding: toRem(70);
		}
		@media (max-width:$mobile){
			padding: toRem(20);
		}
	}
	// .password__icon
	&__icon {
		margin: 0 auto;
		width: toRem(150);
		height: toRem(150);
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 44, 20, 0, 1500, 991.98);
		}
	}
	// .password__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 44, 20, 0, 1500, 991.98);
		}
	}
	// .password__label
	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 16, 10, 0, 1500, 991.98);
		}
	}
	// .password__title
	&__title {
	}
	// .password__form
	&__form {
	}
}

.form-password {
	// .form-password__item
	&__item {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 10, 0, 1500, 767.98);
		}
	}
	// .form-password__input
	&__input {
		padding: toRem(21) toRem(33);
		border: toRem(1) solid #ddd;
		background-color: #fff;
		&::placeholder {
			color: $titleColor;
			@include adaptiveValue("font-size", 18, 16, 0, 1500, 991.98);
			line-height: 122%;
		}
	
	}
	// .form-password__button
	&__button {
		width: 100%;
		padding: toRem(21) toRem(33);
	}
}

//========================================================================================================================================================
