//========================================================================================================================================================
// --SERVICES-MAIN-- == --MAIN-BLOCK--
//========================================================================================================================================================

//========================================================================================================================================================
// --OUR-SERVICES--
//========================================================================================================================================================

.page {
	// .page__our-service
	&__our-service {
		@include adaptiveValue("padding-top", 145, 40, 0, 1500, 767.98);
		@include adaptiveValue("padding-bottom", 152, 30, 0, 1500, 767.98);
	}
}

//========================================================================================================================================================
// --OFFERS--
//========================================================================================================================================================

.offers {
	@include adaptiveValue("padding-top", 148, 30, 0, 1500, 767.98);
	@include adaptiveValue("padding-bottom", 147, 30, 0, 1500, 767.98);
	background-color: $titleColor;
	// .offers__container
	&__container {
	}
	// .offers__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 54, 30, 0, 1500, 991.98);
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	// .offers__content
	&__content {
		flex: 0 1 percent(472, 1220);
	}
	// .offers__label
	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 10, 0, 1500, 991.98);
		}
	}
	// .offers__title
	&__title {
		color: $whiteColor;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 30, 22, 0, 1500, 991.98);
		font-weight: 600;
		line-height: 121%;
	}
	// .offers__text
	&__text {
		color: $whiteColor;
		flex: 0 1 percent(587, 1220);
	}
	// .offers__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include adaptiveValue("gap", 30, 15, 0, 1500, 991.98);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: auto;
		}
	}
	// .offers__card
	&__card {
	}
}

.card-offers {
	padding: toRem(25);
	border: toRem(1) solid #636363;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include adaptiveValue("gap", 14, 10, 0, 1500, 991.98);
	text-align: center;
	transition: all 0.4s;
	@media (min-width: em(1100)) {
		padding: toRem(54);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $purpleColor;
		}
	}
	// .card-offers__icon
	&__icon {
		flex: 0 0 toRem(60);
		width: toRem(60);
		height: toRem(60);
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .card-offers__title
	&__title {
		color: $whiteColor;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 25, 20, 0, 1500, 991.98);
		font-weight: 600;
		line-height: 127%;
	}
	// .card-offers__descr
	&__descr {
		color: $whiteColor;
		line-height: 147%;
	}
}

//========================================================================================================================================================
// --CHOOSE-ME--
//========================================================================================================================================================

.choose-me {
	@include adaptiveValue("padding-top", 146, 30, 0, 1500, 767.98);
	@include adaptiveValue("padding-bottom", 100, 40, 0, 1500, 767.98);
	// .choose-me__container
	&__container {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: em(1080)) {
			flex-direction: column;
		}
	}
	// .choose-me__content
	&__content {
		flex: 0 0 percent(628, 1220);
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 47, 20, 0, 1500, 991.98);
	}
	// .choose-me__header
	&__header {
	}
	// .choose-me__label
	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 10, 0, 1500, 991.98);
		}
	}
	// .choose-me__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 10, 0, 1500, 991.98);
		}
	}
	// .choose-me__text
	&__text {
	}
	// .choose-me__lists
	&__lists {
		display: flex;
		@include adaptiveValue("gap", 55, 20, 0, 1500, 991.98);
		@media (max-width: em(564)) {
			flex-direction: column;
		}
	}
	// .choose-me__list
	&__list {
		flex: 0 1 50%;
	}
	// .choose-me__button
	&__button {
		align-self: flex-start;
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .choose-me__items
	&__items {
		flex: 0 1 percent(520, 1220);
		display: flex;
		//gap: toRem(30);
		@include adaptiveValue("gap", 30, 20, 0, 1500, 991.98);
		@media (min-width: em(1080)) {
			flex-direction: column;
			margin-bottom: toRem(42);
			align-self: flex-end;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .choose-me__item
	&__item {
	}
}

.list-choose-me {
	// .list-choose-me__item
	&__item {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20, 0, 1500, 767.98);
		}
	}
	// .list-choose-me__value
	&__value {
		color: $titleColor;
		font-family: "Poppins";
		font-size: toRem(20);
		@include adaptiveValue("font-size", 20, 18, 0, 1500, 991.98);
		font-weight: 700;
		line-height: 150%;
		display: inline-flex;
		gap: toRem(8);
		span {
			font-weight: 400;
		}
		& .stars {
			color: #ffb342;
			p {
				display: inline-block;
			}
			span {
				&::before {
					content: "";
					width: toRem(17);
					height: toRem(17);
					background: url("../img/choose/star.svg") -1px 3px no-repeat;
				}
			}
		}
		&::before {
			content: "";
			flex: 0 0 toRem(28);
			width: toRem(28);
			height: toRem(30);
			background: url("../img/choose/check_green.svg") toRem(1.5) toRem(1.5) no-repeat;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 0, 0, 1500, 767.98);
		}
	}
	// .list-choose-me__text
	&__text {
		@include adaptiveValue("font-size", 18, 16, 0, 1500, 991.98);
		padding-left: toRem(35);
		line-height: 147%;
	}
}

.item-choose-me {
	padding: toRem(20);
	background-color: #f4f4f4;
	display: flex;
	gap: toRem(15);
	align-items: center;
	@media (min-width: $tablet) {
		padding: toRem(32) toRem(35);
	}
	// .item-choose-me__image
	&__image {
		flex: 0 0 toRem(97);
		max-width: toRem(97);
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		@media (max-width:$mobileSmall){
			flex: 0 0 toRem(80);
			max-width: toRem(80); 
		}
	}
	// .item-choose-me__content
	&__content {
	}
	// .item-choose-me__descr
	&__descr {
		color: $titleColor;
		@include adaptiveValue("font-size", 20, 16, 0, 1500, 767.98);
		line-height: 135%;
	}
	// .item-choose-me__value
	&__value {
		color: $titleColor;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 22, 18, 0, 1500, 767.98);
		font-weight: 600;
		line-height: 135%;
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}
	// .item-choose-me__text
	&__text {
		line-height: 147%;
	}
}

//========================================================================================================================================================
// --TESTIMONIAL-- from --HOME--
//========================================================================================================================================================

//========================================================================================================================================================