//========================================================================================================================================================
// --OUR-TEAM-- == --MAIN-BLOCK--
//========================================================================================================================================================

.main-block {
	// .main-block__content
	&__content {
		.page__our-team & {
			@include adaptiveValue("padding-top", 142, 70, 0, 1500, 767.98);
			@include adaptiveValue("padding-bottom", 214, 70, 0, 1500, 767.98);
			@include adaptiveValue("padding-left", 173, 20, 0, 1500, 767.98);
			@include adaptiveValue("padding-right", 132, 20, 0, 1500, 767.98);
		}
	}
	// .main-block__image
	&__image {

	}
}

//========================================================================================================================================================
// --TEAM-DEDICATED--
//========================================================================================================================================================

.page__our-experts {
	@include adaptiveValue("padding-top", 150, 30, 0, 1500, 767.98);
	@include adaptiveValue("padding-bottom", 150, 30, 0, 1500, 767.98);
}

.team-dedicated {
	@include adaptiveValue("padding-bottom", 150, 40, 0, 1500, 767.98);
	// .team-dedicated__container
	&__container {
		display: flex;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .team-dedicated__content
	&__content {
		background-color: $titleColor;
		padding: toRem(30);
		flex: 0 1 percent(559, 1220);
		@media (min-width: $tablet) {
			padding: toRem(88) toRem(48);
		}
		@media (max-width: $mobile) {
			margin: 0 toRem(-15);
		}
	}
	// .team-dedicated__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 46, 20, 0, 1500, 767.98);
		}
	}
	// .team-dedicated__label
	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 10, 0, 1500, 767.98);
		}
	}
	// .team-dedicated__title
	&__title {
		@include adaptiveValue("font-size", 30, 24, 0, 1500, 991.98);
		font-weight: 600;
		line-height: 121%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 10, 0, 1500, 767.98);
		}
	}
	// .team-dedicated__text
	&__text {
		color: $whiteColor;
		@include adaptiveValue("font-size", 18, 16, 0, 1500, 767.98);
		line-height: 147%;
	}
	// .team-dedicated__body
	&__body {
	}
	// .team-dedicated__image
	&__image {
		flex: 0 1 percent(661, 1220);
		// aspect-ratio: 661 / 501;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			margin: 0 toRem(-15);
		}
	}
}

.body-team {
	display: flex;
	align-items: center;
	gap: toRem(20);
	@media (max-width: $tablet) {
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: $mobile) {
		flex-direction: row;
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
		justify-content: center;
	}
	// .body-team__circle
	&__circle {
		flex: 0 0 toRem(143);
		border: toRem(3) solid $greenColor;
		border-radius: 50%;
		padding: toRem(42) toRem(27);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		p {
			color: $whiteColor;
			font-family: "Poppins";
			@include adaptiveValue("font-size", 20, 16, 0, 1500, 991.98);
			font-weight: 600;
			line-height: 150%;
		}
		@media (max-width: $mobile) {
			padding: toRem(37);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(20);
		}
	}
	// .body-team__content
	&__content {
		@media (max-width: $tablet) {
			text-align: center;
		}
		@media (max-width: $mobile) {
			text-align: left;
		}
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .body-team__value
	&__value {
		color: $whiteColor;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 40, 26, 0, 1500, 991.98);
		font-weight: 600;
		line-height: 150%;
	}
	// .body-team__descr
	&__descr {
		color: $whiteColor;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 18, 16, 0, 1500, 991.98);
		font-weight: 600;
		line-height: 150%;
	}
	// .body-team__text
	&__text {
		color: $whiteColor;
		@include adaptiveValue("font-size", 16, 14, 0, 1500, 991.98);
		line-height: 147%;
	}
}

//========================================================================================================================================================
